USE [master]
GO
/****** Object:  Database [DW_Ventas]    Script Date: 5/6/2026 15:28:02 ******/
CREATE DATABASE [DW_Ventas]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DW_Ventas', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\DW_Ventas.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DW_Ventas_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\DW_Ventas_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DW_Ventas].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DW_Ventas]
GO
/****** Object:  Table [dbo].[Dim_Age_Group]    Script Date: 5/6/2026 15:28:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Age_Group](
	[ID_Age_Group_SK] [int] IDENTITY(1,1) NOT NULL,
	[Age_Group] [varchar](50) NOT NULL,
	[Min_Age] [int] NOT NULL,
	[Max_Age] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Age_Group_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_Cliente]    Script Date: 5/6/2026 15:28:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Cliente](
	[ID_Cliente_SK] [int] IDENTITY(1,1) NOT NULL,
	[Customer_ID] [varchar](50) NOT NULL,
	[Full_Name] [varchar](150) NOT NULL,
	[Customer_Type] [varchar](20) NULL,
	[Birth_Date] [date] NULL,
	[City] [varchar](100) NULL,
	[State] [varchar](100) NULL,
	[Region] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Cliente_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_Empleado]    Script Date: 5/6/2026 15:28:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Empleado](
	[ID_Empleado_SK] [int] IDENTITY(1,1) NOT NULL,
	[Employee_ID] [varchar](50) NOT NULL,
	[Full_Name] [varchar](150) NOT NULL,
	[Gender] [varchar](20) NULL,
	[Birth_Date] [date] NULL,
	[Employment_Date] [date] NULL,
	[Category] [varchar](50) NULL,
	[Education_Level] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Empleado_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_Producto]    Script Date: 5/6/2026 15:28:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Producto](
	[ID_Producto_SK] [int] IDENTITY(1,1) NOT NULL,
	[Product_ID] [varchar](50) NOT NULL,
	[Detail] [varchar](200) NOT NULL,
	[Category] [varchar](50) NULL,
	[Package_Type] [varchar](50) NULL,
	[Size_Cm3] [int] NULL,
	[Is_Diet] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Producto_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_Tiempo]    Script Date: 5/6/2026 15:28:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Tiempo](
	[ID_Tiempo_SK] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [date] NOT NULL,
	[Anio] [int] NOT NULL,
	[Trimestre] [int] NOT NULL,
	[Mes] [int] NOT NULL,
	[Dia] [int] NOT NULL,
	[Es_Feriado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Tiempo_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fact_Stock]    Script Date: 5/6/2026 15:28:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fact_Stock](
	[ID_Stock_SK] [bigint] IDENTITY(1,1) NOT NULL,
	[ID_Tiempo_FK] [int] NOT NULL,
	[ID_Producto_FK] [int] NOT NULL,
	[Variacion] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Stock_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fact_Ventas]    Script Date: 5/6/2026 15:28:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fact_Ventas](
	[ID_Venta_SK] [bigint] IDENTITY(1,1) NOT NULL,
	[ID_Billing] [int] NOT NULL,
	[ID_Tiempo_FK] [int] NOT NULL,
	[ID_Cliente_FK] [int] NOT NULL,
	[ID_Empleado_FK] [int] NOT NULL,
	[ID_Producto_FK] [int] NOT NULL,
	[ID_Age_Group_FK] [int] NOT NULL,
	[Cantidad_Unidades] [int] NOT NULL,
	[Precio_Unitario] [decimal](18, 2) NOT NULL,
	[Monto_Bruto_Linea] [decimal](18, 2) NOT NULL,
	[Monto_Descuento] [decimal](18, 2) NOT NULL,
	[Monto_Venta_Neto] [decimal](18, 2) NOT NULL,
	[Litros_Vendidos] [decimal](18, 4) NULL,
	[Edad_En_Venta] [int] NOT NULL,
	[Antiguedad_Empleado] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Venta_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Fact_Stock]  WITH CHECK ADD  CONSTRAINT [FK_FactStock_Producto] FOREIGN KEY([ID_Producto_FK])
REFERENCES [dbo].[Dim_Producto] ([ID_Producto_SK])
GO
ALTER TABLE [dbo].[Fact_Stock] CHECK CONSTRAINT [FK_FactStock_Producto]
GO
ALTER TABLE [dbo].[Fact_Stock]  WITH CHECK ADD  CONSTRAINT [FK_FactStock_Tiempo] FOREIGN KEY([ID_Tiempo_FK])
REFERENCES [dbo].[Dim_Tiempo] ([ID_Tiempo_SK])
GO
ALTER TABLE [dbo].[Fact_Stock] CHECK CONSTRAINT [FK_FactStock_Tiempo]
GO
ALTER TABLE [dbo].[Fact_Ventas]  WITH CHECK ADD  CONSTRAINT [FK_FactVentas_AgeGroup] FOREIGN KEY([ID_Age_Group_FK])
REFERENCES [dbo].[Dim_Age_Group] ([ID_Age_Group_SK])
GO
ALTER TABLE [dbo].[Fact_Ventas] CHECK CONSTRAINT [FK_FactVentas_AgeGroup]
GO
ALTER TABLE [dbo].[Fact_Ventas]  WITH CHECK ADD  CONSTRAINT [FK_FactVentas_Cliente] FOREIGN KEY([ID_Cliente_FK])
REFERENCES [dbo].[Dim_Cliente] ([ID_Cliente_SK])
GO
ALTER TABLE [dbo].[Fact_Ventas] CHECK CONSTRAINT [FK_FactVentas_Cliente]
GO
ALTER TABLE [dbo].[Fact_Ventas]  WITH CHECK ADD  CONSTRAINT [FK_FactVentas_Empleado] FOREIGN KEY([ID_Empleado_FK])
REFERENCES [dbo].[Dim_Empleado] ([ID_Empleado_SK])
GO
ALTER TABLE [dbo].[Fact_Ventas] CHECK CONSTRAINT [FK_FactVentas_Empleado]
GO
ALTER TABLE [dbo].[Fact_Ventas]  WITH CHECK ADD  CONSTRAINT [FK_FactVentas_Producto] FOREIGN KEY([ID_Producto_FK])
REFERENCES [dbo].[Dim_Producto] ([ID_Producto_SK])
GO
ALTER TABLE [dbo].[Fact_Ventas] CHECK CONSTRAINT [FK_FactVentas_Producto]
GO
ALTER TABLE [dbo].[Fact_Ventas]  WITH CHECK ADD  CONSTRAINT [FK_FactVentas_Tiempo] FOREIGN KEY([ID_Tiempo_FK])
REFERENCES [dbo].[Dim_Tiempo] ([ID_Tiempo_SK])
GO
ALTER TABLE [dbo].[Fact_Ventas] CHECK CONSTRAINT [FK_FactVentas_Tiempo]
GO
USE [master]
GO
